.feed {
    align-self: center;
    position: relative;
    background: #000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    @media (min-width: 768px) {
        aspect-ratio: 0.5625 / 1;
        width: auto;
    }
}

.feed__list {
    position: relative;
    border-radius: 3px;
    display: block;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;
    }
}

.feed__controls {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 24px;
    z-index: 8;
}