.feed {
    align-self: center;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 768px) {
        aspect-ratio: 0.5625 / 1;
        width: auto;
        padding: 0 20px;
    }
} 

.feed__list {
    position: relative;
    border-radius: 3px;
    display: block;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;
    }

    @media (min-width: 768px) {
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 24px 0;
    }
}

.feed__controls {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 24px;
    z-index: 8;
}