.teacher-item__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding: var(--spacing-16);
    border-radius: var(--radius-16);
}

@media (min-width: 768px) {
    .teacher-item__container {
        flex-direction: row;
    }
}

.teacher-item__super-tutor-badge {
    position: absolute;
    top: -8px;
    left: -8px;
}

.teacher-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    width: 100%;
}

@media (min-width: 768px) {
    .teacher-item__content {
        flex-direction: row;
        justify-content: space-between;
    }
}

.teacher-item__content-info {
    display: flex;
    flex-direction: column;
}

.teacher-item__content-presentation {
    width: 100%;
}

@media (min-width: 768px) {
    .teacher-item__content-presentation {
        width: 64ch;
        word-wrap: break-word;
    }
}

.teacher-item__avatar-container {
    position: relative;
    width: 150px;
    height: 190px;
    border-radius: var(--radius-8);
    background-color: var(--color-primary-100);
}

.teacher-item__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-8);
}

.teacher-item__content-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
    flex-wrap: wrap;
}
