.teacher-item__container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-20);
    padding: var(--spacing-16);
    border-radius: var(--radius-16);
}

.teacher-item__super-tutor-badge {
    position: absolute;
    top: -8px;
    left: -8px;
}

.teacher-item__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.teacher-item__content-info {
    display: flex;
    flex-direction: column;
}

.teacher-item__content-presentation {
    width: 64ch;
    word-wrap: break-word;
}

.teacher-item__actions {
    display: flex;
    flex-direction: column;
}

.teacher-item__avatar {
    width: 150px;
    height: 190px;
    object-fit: cover;
    border-radius: var(--radius-8);
}

.teacher-item__content-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
}

.teacher-item__class-types {
    
}
