.teacher-item__container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-20);
    padding: var(--spacing-16);
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--radius-16);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.teacher-item__super-tutor-badge {
    position: absolute;
    top: -8px;
    left: -8px;
}

.teacher-item__content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.teacher-item__content-info {
    display: flex;
    flex-direction: column;
}

.teacher-item__content-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.teacher-item__avatar {
    width: 150px;
    height: 190px;
    object-fit: cover;
    border-radius: var(--radius-8);
}

.teacher-item__content-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
}

.teacher-item__class-types {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    width: 100%;
}
