@use '../../../design-system/settings/spacing.scss' as spacing;
@use '../../../design-system/settings/typography.scss' as typography;
@use '../../../design-system/settings/colors.scss' as colors;

.menu__container {
    padding: 0;
    height: 100%;
	overflow-x: hidden;
}

.menu__content {
    list-style: none;
	margin: 0;
	padding: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    &__item {
        display: flex;
        gap: spacing.$spacing-12;
        align-items: center;
        padding: spacing.$spacing-12 spacing.$spacing-8;
        cursor: pointer;
        user-select: none;
        color: colors.$neutral-700;

        &:hover {
            background-color: colors.$bg-active;
        }

        &.menu__item--no-icon {
            grid-template-columns: 1fr;
        }
    }

    &__item--selected {
        background-color: colors.$bg-active;
        color: colors.$neutral-900;
    }

    &__item-icon {
        fill: #A4A7AE;
        width: 16px;
    }

    &__item-text {
        flex-grow: 1;
        margin-top: 2px;
    }
}