.primary {
  color: var(--color-neutral-900);
}

.secondary {
  color: var(--color-neutral-700);
}

.tertiary {
  color: var(--color-neutral-600);
}

.quaternary {
  color: var(--color-neutral-500);
}
