@use "./generic/reset";
@use "./generic/base";
@use "./settings/sizes";

@import "tailwindcss";

@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 0.2s;
}

a {
    color: inherit;
    text-decoration: none;
}