---
import { getLangFromUrl, useTranslations } from '../../i18n';
import './styles.scss';

import ChalkBoardTeacher from 'phosphor-astro/ChalkboardTeacher.astro';
import Chat from 'phosphor-astro/Chat.astro';

const { class: className, isDark } = Astro.props;
const { pathname } = Astro.url;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class:list={['menu__container', isDark && 'dark', className]}>
    <ul class="menu__content">
        <div class="menu__content-main">
            <a href="/">
                <li class:list={[
                    'menu__item',
                    pathname === '/' && 'menu__item--selected',
                ]}>
                    <ChalkBoardTeacher class="menu__item-icon"/>
                    <!-- <ChatIcon class="menu__item-icon" /> -->
                    <span class="menu__item-text">{t('menu.teachers')}</span>
                </li>
            </a>
            
            <a href="/chat">
                <li class:list={[
                    'menu__item',
                    pathname === '/chat' && 'menu__item--selected',
                ]}>
                    <Chat class="menu__item-icon" />
                    <span class="menu__item-text">{t('menu.chat')}</span>
                </li>
            </a>
            <!-- <a href="/oferta-local">
                <li class:list={[
                    'menu__item',
                    pathname === '/stores' && 'menu__item--selected',
                ]} data-menu-item>
                    <FilmStripIcon />
                    <span class="menu__item-text">{t('menu.feed')}</span>
                </li>
            </a>
            <a href="/perfil">
                <li class:list={[
                    'menu__item',
                    pathname === '/user' && 'menu__item--selected',
                ]} data-menu-item>
                    <UserIcon />
                    <span class="menu__item-text">{t('menu.profile')}</span>
                </li>
            </a> -->
        </div>

        <div class="menu__content-footer">
            <a href="https://anyclazz.com/" target="_blank">
                <li class="menu__item menu__item--no-icon">
                    <span class="menu__item-text">¿Qué es AnyClazz?</span>
                </li>
            </a>
            <div class="menu__footer-text">
                © 2025 Anyclazz
            </div>
        </div>
    </div>
</div>

<script>
    import { AppEvents } from "../shared/domain/events";
    
        const bottomBarItems = document.querySelectorAll('[data-menu-item]');
        bottomBarItems.forEach(item => {
            item.addEventListener('click', (e) => {
                e.preventDefault();
                window.dispatchEvent(new CustomEvent(AppEvents.OPEN_DOWNLOAD_APP_MODAL));
            });
        });
    </script>
