.control {
    height: 2.75rem;
    background-color: var(--color-neutral-100);
    outline: 1px solid var(--color-neutral-300) !important;
    outline-offset: 0 !important;
}

.control.control--input::placeholder {
    color: var(--color-neutral-500)
}

.control.control--input:focus {
    color: var(--color-neutral-500) !important;
    outline: 2px solid var(--color-primary-500) !important;
}

.control--secondary {
    background-color: var(--color-neutral-100);
    cursor: not-allowed;
}