---
import Main from "../layout/Main.astro";
export const prerender = false;
---

<Main>
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
		Feed page
	</div>
</Main>
