---
import { TeachersList } from '../../features/teachers/teachers-list/components/teachers-list/TeachersList';
import Main from '../../layout/Main.astro';
import { ThemeProvider } from '../../providers/ThemeProvider';
export const prerender = false;
---

<Main>
	<ThemeProvider>
		<TeachersList />
	</ThemeProvider>
</Main>
