.chip {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
  cursor: default;
  user-select: none;
}

.chip--sm {
  padding: 0 var(--spacing-8);
  height: 22px;
}

.chip--md {
  padding: 0 var(--spacing-10);
  height: 24px;
}

.chip--lg {
  padding: 0 var(--spacing-12);
  height: 28px;
}

.chip--primary {
  color: var(--color-primary-700);
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-200);
}

.chip--secondary {
  background-color: transparent;
  border: 1px solid var(--color-neutral-300);
}