.chip {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
  cursor: default;
  user-select: none;
}

.chip--primary {
  color: var(--color-primary-700);
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-200);
}

.chip--secondary {
  background-color: transparent;
  border: 1px solid var(--color-neutral-300);
}