---
import Main from "../layout/Main.astro";
import { Feed } from "../features/stories/feed/components/feed/Feed.tsx";
export const prerender = false;

const pageTitle = "Feed";
---

<Main title={pageTitle}>
	<Feed client:only />
</Main>
