---
export const prerender = false;
import Base from '../layout/Base.astro';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
console.log("Session in index.astro:", session);
---

<Base>
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
	
	</div>
</Base>
