---
import { TeachersSection } from '../features/teachers/teachers-section/components/TeachersSection';
import Main from '../layout/Main.astro';
import { getSession } from 'auth-astro/server';
import { getLangFromUrl } from '@/i18n';

export const prerender = false;

const session = await getSession(Astro.request);
const accessToken = session?.accessToken as string;

if (!accessToken) {
	return Astro.redirect('/login');
}

const lang = getLangFromUrl(Astro.url);
---

<Main title="Teachers">
	<TeachersSection client:only accessToken={accessToken} lang={lang} />
</Main>
