.teachers-section__container {
    padding: var(--spacing-16);
}

@media (min-width: 768px) { /* mobile-max breakpoint */
    .teachers-section__container {
        padding: var(--spacing-32);
    }
}