---
import './styles.scss';
import ChalkBoardTeacher from 'phosphor-astro/ChalkboardTeacher.astro';
import Chat from 'phosphor-astro/Chat.astro';
import FilmStrip from 'phosphor-astro/FilmStrip.astro';
import User from 'phosphor-astro/User.astro';
import { getLangFromUrl, useTranslations } from '../../i18n';

const { pathname } = Astro.url;
const { class: className, isDark } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class:list={['bottombar__container', isDark && 'dark', className]}>
    <div class="bottombar__content">
        <a class="bottombar__item-container" href="/">
            <div class:list={[
                'bottombar__item',
                pathname === '/' && 'bottombar__item--selected',
            ]}>
                <ChalkBoardTeacher class="bottombar__item-icon" />
                <span class="bottombar__item-text">{t('menu.teachers')}</span>
            </div>
        </a>
        <a class="bottombar__item-container" href="/chat">
            <div class:list={[
                'bottombar__item',
                pathname === '/chat' && 'bottombar__item--selected',
            ]}>
                <Chat class="bottombar__item-icon" />
                <span class="bottombar__item-text">{t('menu.chat')}</span>
            </div>
        </a>
        <a class="bottombar__item-container" href="/feed">
            <div class:list={[
                'bottombar__item',
                pathname === '/feed' && 'bottombar__item--selected',
            ]} data-bottom-bar-item>
                <FilmStrip class="bottombar__item-icon" />
                <span class="bottombar__item-text">{t('menu.feed')}</span>
            </div>
        </a>
        <a class="bottombar__item-container" href="/profile">
            <div class:list={[
                'bottombar__item',
                pathname === '/profile' && 'bottombar__item--selected',
            ]} data-bottom-bar-item>
                <User class="bottombar__item-icon" />
                <span class="bottombar__item-text">{t('menu.profile')}</span>
            </div>
        </a>
    </div>
</div>

<script>
import { AppEvents } from "../shared/domain/events";

    const bottomBarItems = document.querySelectorAll('[data-bottom-bar-item]');
    bottomBarItems.forEach(item => {
        item.addEventListener('click', (e) => {
            e.preventDefault();
            window.dispatchEvent(new CustomEvent(AppEvents.OPEN_DOWNLOAD_APP_MODAL));
        });
    });
</script>