---
import Base from './Base.astro';
import Menu from '../features/menu/ssr/Menu.astro';
import LoggedUser from '../features/auth/ssr/components/logged-user/LoggedUser.astro';
import { Avatar } from '@/ui-library/components/ssr/avatar/Avatar';
import { Icon } from '@/ui-library/components/ssr/icon/Icon';

const logo = '/images/logo.svg';
---

<Base {...Astro.props}>
    <div class:list={['app']}>
        <div class="left-sidebar__container hidden md:flex">
            <nav class="left-sidebar__content">
                <a href="/dashboard" class="left-sidebar__logo logo">
                    <img src={logo} alt="Anyclazz Logo" />
                </a>
                <Menu />
                <div class="left-sidebar__footer">
                    <LoggedUser />
                </div>
            </nav>
            <div class="left-sidebar__close md:hidden">
                <Icon icon="close" iconWidth={24} iconHeight={24} />
            </div>   
        </div>
        <header class="header__container mobile-only">
            <a href="/dashboard" class="header__logo logo">
                <img src={logo} alt="Anyclazz Logo" />
            </a>
            <div class="header__actions">
                <Avatar src="https://anyclazz.b-cdn.net/08a3b47613f2d0f6aced2c3c467602e3aa1638f1.jpg" size={40} />
                <div class="header__menu">
                    <Icon icon="menu" iconWidth={24} iconHeight={24} />
                </div>
            </div>
        </header>
        <main class='main__container'>
            <slot/>
        </main>
    </div>
</Base>

<script>
    const openLeftSidebar = document.querySelector('.header__menu');
    const closeLeftSidebar = document.querySelector('.left-sidebar__close');
    const leftSidebar = document.querySelector('.left-sidebar__container');

    const toggleLeftSidebar = (e: Event) => {
        e.preventDefault();
        if (!leftSidebar) return;

        leftSidebar.classList.toggle('hidden');
    };

    if (leftSidebar) {
        leftSidebar.addEventListener('click', (event) => {
            if (event.target !== leftSidebar) return;
            toggleLeftSidebar(event);
        });
    }

    if (closeLeftSidebar) {
        closeLeftSidebar.addEventListener('click', toggleLeftSidebar);
    }

    if (openLeftSidebar) {
        openLeftSidebar.addEventListener('click', toggleLeftSidebar);
    }
</script>