.app {
    display: grid;
    position: relative;
    height: 100dvh;
    width: 100%;
    grid-template-areas:
              "head"
              "main";
    overflow: hidden;
}

@media (min-width: 768px) { /* mobile-max breakpoint */
    .app {
        height: 100dvh;
        grid-template-areas:
              "nav main";
        grid-template-columns: 18.5rem auto;
    }
}

.header__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    grid-area: head;
    height: 4rem;
	align-items: center;
    justify-content: space-between;
	padding: 0.5rem;
    border-bottom: 1px solid var(--color-neutral-200);
}

.header__actions {
    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--spacing-10);
}

.header__logo {
    height: 100%;
    margin-left: 1.375rem;
}

.logo img {
    width: auto;
    height: 46px;
}

.header__menu {
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
    padding: 0.5rem;
}


.left-sidebar__container {
    position: absolute;
    z-index: var(--z-index-3);
    width: 100%;
    height: 100%;
    background-color: #CECFD2;
}

.left-sidebar__close {
    position: absolute;
    top: var(--spacing-12);
    right: var(--spacing-8);
    padding: var(--spacing-8);
}

@media (min-width: 768px) { /* mobile-max breakpoint */
    .left-sidebar__container {
        position: relative;
        grid-area: nav;
    }
}

.left-sidebar__content {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-8) 1.375rem;
    gap: var(--spacing-24);
    width: 80dvw;
    height: 100%;
    border-right: 1px solid var(--color-neutral-200);
    background-color: var(--color-neutral-100);
}

@media (min-width: 768px) { /* mobile-max breakpoint */
    .left-sidebar__content {
        padding: var(--spacing-24);
        width: 100%;
    }
}

.left-sidebar__logo {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0 var(--spacing-8);
}

.left-sidebar__footer {
    margin-top: auto;
    padding: var(--spacing-16) var(--spacing-8);
    border-top: 1px solid var(--color-neutral-200);
}

.dark .left-sidebar__footer {
    border-top-color: rgba(255, 255, 255, 0.1);
}

.main__container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

@media (min-width: 768px) { /* mobile-max breakpoint */
    .main__container {
        margin-top: 0;
    }
}